.app{
  margin: auto;
  align-content: center;
   /* position: relative; */
  /* width: 50%; */
  /* padding: 10px; */
  /* height: 100vh; */
  width: 100vw;
  z-index: 1;
  max-width: 2000px;
}

.display-content{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#job-content{
  width:100%;
}

#sidebar-content{
  float: right
}


.logo{
  margin: 0px 0px 0px 25px;
  width: 100px;
  height: 35px;
  background: rgba(27, 31, 29);
  color: rgb(212, 212, 212);
  padding-top: 10px;
  text-align: center;
  border-radius: 0px 0px 8px 0px;
  cursor: pointer;
}
.border-bottom{
    background:  rgba(27, 31, 29);
    width: 100vw;
    height: 10px;
    -webkit-box-shadow: -2px 8px 17px -4px rgba(0,0,0,1);
-moz-box-shadow: -2px 8px 17px -4px rgba(0,0,0,1);
box-shadow: -2px 8px 17px -4px rgba(0,0,0,1);
}



.app-content > ul{
  display: inline-flex;
}

#search-loading-container{
    position: relative;
    /* width: a; */
}