

#job-pls-logo{
    background-size: 20px;
    background-repeat: no-repeat;
    width: 100px;
    margin-left: 40px;
    cursor: pointer;
}

.nav-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    box-sizing: border-box;

}

.nav-user-greeting{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 2px solid white;
    width: 160px;
    height: 20px;
}

.nav-user-info{
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}


.nav-container{
    width: 100%;
    height: 67px;
}


.logo-class{
    font-size: 36px;
    color: rgb(212,212,212);
    height: 100%;
    vertical-align: middle;
}

.nav-search{
    height: 100%;
    vertical-align: middle;
}


.logout-button {
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    width: 100px;
}

.sort-button {
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    width: 100px;
    background-color: white;
    border-radius: 3px;
}

.user-greeting {
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
    position: absolute;
    bottom: 0px;
}


#flex-tabs {
    display: flex;
    align-items: auto;
    align-content: flex-start;
    padding-right:30px;
}

/*-- search styles below  */

#search-bars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}


#search, #company-search{
    height: 27px;
    width: 100%;
    font-size: 20px;
}


#search-crit{

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.material-icons{
    height: 25px;
    object-fit: contain;
    cursor: pointer;

}

#search-button{
    height: 25px;
    width: 25px;
    background: rgb(113,181,249);
    padding: 0px 0px 5px 0px;
}

.search-inputs-divs{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-input-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.search-input-div input{
    border-bottom: 2px solid mintcream;
    color:  rgba(27, 31, 29, 0.7);
    max-width: 100%;
    font-size: 19px;

}

.search-input-div placeholder{
    color: mintcream;
}

.search-input-div input:focus{
    border: 2px solid none;
}


.search-input-div button{
    font-size: 19px;
    padding-left: 9px;
    border-left: none;
    text-align: center;
}

.search-input-div div{
    box-sizing: border-box;
}

.nav-select{ 
    font-family: 'Roboto';
    width: 30%;
}

.nav-select select{
    cursor: pointer;
}

.border{
    border-radius: 0px;
    border: 0px;
    width: 100%;
}

.search-button-div{
    width: 25px;
    height: 25px;

}



.search-dropdown-div select:hover{
    background-color: #9fe5ff;
}

#logo{
    height:30px;
}

/* results container */

.search-result-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 122px );
    width: 100%;
    margin: auto;
    margin-left: auto; 
    margin-right: auto;
    box-sizing: border-box;
    box-shadow: inset 0 1px 10px 0 rgba(0, 0, 0, .1); 
    scroll-behavior: smooth;
}

.search-result-list{
    height: 100%;
    width: 40%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.posting-list{
    height: 100%;
    width: 100%;
    border-right: gray solid 1px;
    overflow-y: auto;
    padding-bottom: 15px;
}

.posting-list li{
    gap: 10px;
    width: 95%;
    height: 100px;
    border-radius: 8px 8px 8px 8px;
    padding-bottom: 10px;
    border: #afafaf solid 1px;
    list-style: none;
    text-overflow: ellipsis;
}

.posting-list li:hover{
    list-style: none;
    background-color: #9fe5ff;
}

#selected-posting{
    list-style: none;
    background-color: #9fe5ff;
}

.posting-listing-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    width: 60%
}

.posting-listing{
    width: 100%;
}

.posting-listing-add-button{
    font-size: 20px;
    color: rgb(27,31,29);
    background-color:#9fe5ff;
    padding: 10px 25px;
    box-sizing: border-box;
    border-radius: 2px;
    cursor:pointer;
}

.posting-listing-buttons{
    display: flex;
    flex-direction: row;
}

.apply-to-job{
    background-color: rgb(27, 31, 29);
    cursor: pointer;
}

.posting-listing-buttons, .apply-to-job{
    text-align: center;
    font-size: 20px;
    color: mintcream;
    padding: 10px 25px;
    box-sizing: border-box;
    border-radius: 2px;

}

.posting-listing-add-button, .apply-to-job{
    width: 50%;
}

.apply-to-job:hover{
    background-color: rgb(122, 122, 122);
}

.posting-listing-header{
    margin-top: 20px;
    width: 100%;
}

.posting-listing-body{
    margin-top: 20px;
}

.posting-listing-buttons{
    margin-top: 20px;

}
.posting-listing-add-button:hover{
    background-color: rgb(176, 198, 230);
}

.posting-listing{
    display: flex;
    flex-direction: column;
}

.posting-list-title,
.posting-list-location,
.posting-list-company{
    padding-top: 2px;
    padding-left: 10px;
    font-size: 18px;

}

.posting-list-location,
.posting-list-company {
    padding-left: 40px;
    font-size: 16px;
}

.posting-list-title{
    display: -webkit-box;
    padding-top: 18px;
    padding-left: 20px;
    font-size: 21px;
    font-weight: 700;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.posting-list-company{
    text-decoration: underline;
}

.posting-listing-title{
    color: black;
    font-size: 30px;
    padding-left: 6px;
    font-weight: 700;
}

.posting-listing-company{
    font-size: 20px;
    padding-left: 15px;
    padding-top: 4px;
    text-decoration: underline;
}

.posting-listing-location{
    font-size: 20px;
    padding-left: 15px;
    padding-top: 4px;
}

.posting-listing-description,
.posting-listing-snippet{
    font-size: 15px;
    margin: 10px;
    box-sizing: border-box;
}

.posting-listing-link,
.posting-listing-url{
    font-size: 22px;
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 20px;
}

.loading-wheel-container, .no-results{
    display: flex;
    flex-direction: column;
    height: calc(100% - 130px);
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 1px 10px 0 rgba(0, 0, 0, .1); 
    color: rgb(27, 31, 29);
    text-align: center;
}

.no-results{
    width: 60%;
}

.loading-wheel-container{
        width: 100%;

}

.job-title{
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  