/*-- Search styles begin at line 90ish--*/
/* results styles around 240 */


#job-pls-logo{
    background-image: url('../../images/job-pls-logo.png');
    background-size: cover;
    width: 120px;
    height: 106px;
    position: absolute;
    left: 14px;
    top: 14px;
}

.nav-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height:130px;
    height: auto;
    top: 0px;
    position:relative;
    /* overflow: hidden; */
    background: rgb(27, 31, 29);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.logo-class{
    font-size: 36px;
    color: rgb(212,212,212);
    height: 100%;
    vertical-align: middle;
}

.nav-search{
    height: 100%;
    margin: auto;
    vertical-align: middle;
}


#tab{
    flex: 0 0 auto;
    color: rgb(212,212,212);
    clip-path: inset(-8px -8px 0px -8px);
    width: 120px;
    height: 30px;
    font-size: 22px;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    border-bottom: 2px solid rgb(27,31,29);

}
.logout-button {
    cursor: pointer;
    position: absolute;
    right: 15%;
    bottom: 0;
    margin: 5px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 30px;
    width: 100px;
    background-color: white;
    z-index: 500;
}
.user-greeting {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
    z-index: 500;
    position: absolute;
    bottom: 0px;
}
#tab:hover {
    border-bottom: 2px solid rgb(212,212,212);
}

#tab button{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 22px;
    width: 120px;
    height: 45px;
    padding: 0px;
    margin: 0px;
    color: #ffb997;
    cursor: pointer;
}


#flex-tabs {
    /* height: 100vh; */
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    align-items: auto;
    align-content: start;
    padding-right:30px;
    /* bottom: 0px;
    right: 0px;
    position:absolute;  */
}

/*-- search styles below  */

#search-bars{
    /* background: green; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.search-form{
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 1rem;   */
    /* margin: auto; */

}

/* .search-form li{
    /* position: relative; */
/* } */

/* #search-bar-container, 
#company-search-container,
#search-button{
    /* margin: 8px 8px 8px 8px; */
/* } */


#search{
    height: 35px;
    min-width: 265px;
}

#search input{
    background: none;
}
#company-search{
    height: 35px;
    min-width: 315px;

}

#search-crit{
    margin-top: 8px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

/* #search-crit > div {
    /* display: flex; */
/* } */ */

.material-icons{
    height: 35px;
}

#search-button{
    height: 35px;
    width: 100%;
    background: powderblue;
    /* box-sizing: border-box; */
    padding: 6px 0px 5px 0px;

}

.search-input-div{
    /* background: green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}


.search-input-div input{

    border-bottom: 2px solid mintcream;
    color: mintcream;
    max-width: 100%;
    font-size: 19px;
    /* padding-left: 9px; */
    margin: 0px 0px;
}

.search-input-div placeholder{
    color: mintcream;
}

.search-input-div input:focus{
    border: 2px solid none;
}

.search-input-div button{
    font-size: 19px;
    padding-left: 9px;
    box-sizing: content-box;
    border-left: none;
    text-align: center;
}


.search-dropdown-div{
    margin-top: 5px;
}

.search-dropdown-div select{
    background-color: mintcream;
    color: rgb(32, 32, 32);
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    margin: 0px 14px;
    border-radius: 8px 0px 8px 0px;
}

.search-dropdown-div select:hover{
    background-color: powderblue;
}

/* results container */


.search-result-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 0px auto; */
    height: 100vh;
    overflow-y: auto;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    /* align-content: center; */
    /* z-index:3px; */
}

.search-result-list{
    height: 100vh;
}

.posting-list{
    height: 100%;
    width: 25vw;
    border-right: gray solid 1px;
    overflow-y: auto;
}

.posting-list li{
    width: 100%;
    height: 110px;
    background-color: ghostwhite;
    border-right: gray solid 1px;
    border-top: lightgray solid 1px;
    list-style: none;
    text-overflow: ellipsis;
}

.posting-list li:hover{
    list-style: none;
    background-color: lightgray;
}

#selected-posting{
    list-style: none;
    background-color: powderblue;
}

.posting-listing-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.posting-listing{
    padding: 5px;
}

.posting-listing-add-button{
    font-size: 20px;
    color: rgb(27,31,29);
    background-color:powderblue;
    /* margin-left: 20px; */
    padding: 10px 25px;
    box-sizing: border-box;
    border-radius: 2px;
}

.apply-to-job{
    text-align: center;
    font-size: 20px;
    color: mintcream;
    background-color: rgb(27, 31, 29);
    /* margin-left: 20px; */
    padding: 10px 25px;
    box-sizing: border-box;
    border-radius: 2px;

}

.apply-to-job:hover{
    background-color: rgb(122, 122, 122);
}

.posting-listing-header{
    margin-top: 20px;
}

.posting-listing-body{
    margin-top: 20px;
}

.posting-listing-buttons{
    margin-top: 20px;

}
.posting-listing-add-button:hover{
    background-color: rgb(176, 198, 230);
}

.posting-listing{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 100vh;
    bottom: 0;
    right: 0;
}

.posting-list-title,
.posting-list-location,
.posting-list-company{
    padding-top: 2px;
    padding-left: 10px;
    font-size: 18px;

}

.posting-list-location,
.posting-list-company {
    padding-left: 40px;
    font-size: 16px;
}

.posting-list-title{
    padding-top: 18px;
    padding-left: 20px;
    font-size: 21px;
    font-weight: 700;
}

.posting-list-company{
    text-decoration: underline;
}

.posting-listing-title{
    color: black;
    font-size: 30px;
    padding-left: 6px;
}

.posting-listing-company{
    font-size: 20px;
    padding-left: 15px;
    padding-top: 4px;
    text-decoration: underline;
}

.posting-listing-location{
    font-size: 20px;
    padding-left: 15px;
    padding-top: 4px;
}

.posting-listing-description,
.posting-listing-snippet{
    font-size: 15px;
    margin: 10px;
    box-sizing: border-box;
}

.posting-listing-type,
.posting-listing-salary{

}

.posting-listing-link,
.posting-listing-url{
    font-size: 22px;
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 20px;
}

.loading-wheel-container{
    display: flex;
    position: absolute;
    width: 100%;
    height: 95%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    opacity: .3;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  