.splash-container{
	/* height: 100%;
	width: 100%;
	background: red; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.splash-slider{
	overflow-y: scroll;
	height: 100%;
	width: 100%;
}
.splash-greeting {
	color: white;
	display: inline-block;
	height: 500px;
	width: 700px;
	position: relative;
	font-size: 50px;
	font-weight: bold;
	z-index: 2;
}
.other-image {
	background-image: url(../../images/pexels-photo-3184302.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	height: 1000px;
	width: 1920px;
	background-color: blue;
	z-index: 200;
}
.greeting-subtitle {
	font-size: 25px;
	margin-top: 30px;
	line-height: 30px;
	font-weight: 500;
	color: mintcream;
	word-wrap: break-word;
}
.bg-image{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 1000px;
    margin: 0;
    height: 900px;
}
.image-1 {
	background-image: url('../../images/pexels-cadeau-maestro-1170412-min.jpg');
}
.image-3 {
	background-image: url(../../images/pexels-arina-krasnikova-5950095-min.jpg);
}