.splash-container{
    height: 100vh;
    width: 100vw;
    /* background-attachment: fixed; */
    /* background-image: linear-gradient(to right top, #6b1044, #561747, #411b46, #2d1c40, #1c1a37, #1c2846, #1b3654, #1b4561, #1d6f8d, #1e9cb5, #33cbd7, #5ffbf1); */
    /* background-image: linear-gradient(to right top, #6b1044, #5c1a4c, #4b214f, #3a2550, #2a274c, #28365d, #24466c, #1f5679, #197d9f, #17a6c1, #32d0dd, #5ffbf1); */
    /* background-image: linear-gradient(to right top, #02084a, #000b46, #000d41, #000f3c, #001036, #002147, #003258, #004368, #006d93, #009bb9, #21cbd9, #5ffbf1); */
    /* background: black; */
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
