html{
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(-45deg, #083025, #040f0f, #250917, #08201c); */
    /* background: linear-gradient(-45deg, #a4fcc8, #80f5a7, #b3ffde, #a2f8ea); */
    background: linear-gradient(-45deg, #ffffff, #f7f7f7, #dddddd, #eeeeee);
    /* background: linear-gradient(-45deg, #474747, #1a1919, #050505, #252525, #1b1b1b); */
	background-size: 200% 200%;
    animation: gradient 40s ease-in-out infinite;
  
}


body{
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* #job-pls{
    font-size: 50px;
    color: chartreuse;
    animation: neon .08s ease-in-out infinite alternate;
} */


#job-pls{
    /* transform: translate(50%,-50%); */
    /* text-transform: uppercase; */

    font-family: verdana;
    font-size: 50px;
    font-weight: 700;
    background: -webkit-linear-gradient(#ffb997, #dd4c4c,#221717);
    -webkit-background-clip: text;
    color: #ffb997;
    text-shadow: 1px 1px 1px #f67e7d,
    1px 2px 1px #f67e7d,
    1px 3px 1px #f67e7d,
    1px 4px 1px #f67e7d,
    1px 5px 1px #f67e7d,
    1px 6px 1px #f67e7d,
    1px 7px 1px #f67e7d,
    1px 8px 1px #f67e7d,
    1px 9px 1px #f67e7d,
    1px 10px 1px #f67e7d,
    1px 18px 6px rgba(99,45,75,0.5),
    1px 22px 10px rgba(99,45,75,0.2),
    1px 25px 35px rgba(99,45,75,0.2),
    1px 30px 60px rgba(99,45,75,0.5);
    /* animation: neon .08s ease-in-out infinite alternate; */
}

