html{
    background: white;
    /* background: #161718; */
    height: 100vh;
    width: 100vw;
	background-size: 200% 200%;
    animation: gradient 40s ease-in-out infinite;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}