.users-index {
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* min-width: 30px; */
    /* width: 500px; */
    overflow-y: auto;
    /* background:rgb(212, 212, 212); */
    /* background:rgb(2); */
}

.users-label{
    margin-top: 45px;
    color:  rgb(27,31,29);
    background: powderblue;
    height: 40px;
    width: 75px;
    padding-top: 20px;
    text-align: center;
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
}

#users-index-label{
    font-style: italic;
}

#users-index-label:hover{
    text-decoration: underline rgb(27,31,29);
    /* f: 2px solid rgb(27,31,29) */
}

.spacer{
    width: 5px;
    overflow-y: auto;
    background: rgb(27,31,29);
}

.users-index-item-container{
    float: right;
    height: 100vh;
    width: 400px;
    overflow-y: auto;
    background: rgb(27, 31, 29);

}

.shrink{
    display: none;
}

.users-index-item {
    height: 60px;
    width: 90%;
    border-radius: 15px 0px 15px 0px;
    background: rgba(212, 212, 212) ;
    margin: 10px;
    /* border-radius: 4px; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s ease-out;
    /* box-shadow: .1em .1em .2em rgba(0, 0, 0, .2); */
    /* border: .4em solid rgba(255, 255, 255, .1); */
}
.users-index-item:hover {
    /* background-color: rgba(245, 255, 250, 0.1); */
    box-shadow: 2px 2px 2px 2px rgba(192, 192, 192, 0.25);
    transform: scale(1.03);
    background: linear-gradient(-45deg, #ffffff, #f7f7f7, #dddddd, #eeeeee);
    animation: gradient 3s ease-in-out infinite;
    background-size: 125% 125%;
}


.username {
    color: rgb(27, 31, 29) ;
    padding-top: auto;
    padding-bottom: auto;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    height: 1.25em;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    overflow:hidden;
    text-overflow: ellipsis;
    top: 25%;
    bottom: 25%;
    padding-left: 5%;
    vertical-align: bottom;
}
.username-link {
    text-decoration: none;
    color: black;
}
.username-container {
    height: 100%;
    width: 65%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}
.follow-button {
    border: 1px dashed rgba(138, 138, 138, 0.274);
    border-radius: 15px 0px 15px 0px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    right: 20px;
    height: 50%;
    width: 25%;
    cursor: pointer;
    margin: 5px;
    top: 3px;
}
.follow-button:focus {
    outline-style: none;
}
#following {
    color:  rgb(255, 255, 255);
    background-color: rgb(27 ,31, 29);
    top: 10%;
}
#follow {
    background: #d6d6d6;
    color: rgb(85, 85, 85);
    top: 10%;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}