.user-show-container {
    /* height: calc(100% - 125px); */
    height: calc(100% - 62px);
    width: 100%;
    min-width: 675px;
    /* padding-top: 10px; */
    color: rgb(27 ,31, 29);
    overflow: hidden;
    box-shadow: inset 0 1px 10px 0 rgba(0, 0, 0, .1); 
}

#user-show-username {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis; 
    display: block; 
    height: auto;
    text-overflow: ellipsis;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}


.tabs-container {
    font-weight: bold;
    margin-left: 10px;
    height: 100%;
    overflow-y: auto;
    text-overflow: ellipsis;
    scroll-behavior: smooth;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    min-width: 300px ;
}

.jobs-priority{
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 0px 15px 0px 15px;
}

.job-priority-header{
    width: 325px;
    color: white;
    margin-bottom: 15px;
}


.job-priority-white, .job-priority-one, .job-priority-two, .job-priority-three{

    height: 100px;
    position: relative;
    border-bottom: 1px solid rgba(184, 184, 184, 0.445);
    box-sizing: border-box;
    transition: all 0.2s ease-out;
    z-index: 3;
    cursor: pointer;
}

@media only screen and (max-width:1450px)  {
#card, .job-priority-data, .job-priority-white, 
.job-priority-one, .job-priority-two, 
.job-priority-three, .job-priority-white::after,
 .job-priority-one::after, .job-priority-two::after, 
 .job-priority-three::after{
    height: 135px;
    background: white;
  }



}

#card{
    width: 90%;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
}

#card:hover{
    transform: translate(10px, 0px);
}

.job-priority-white::after, .job-priority-one::after, .job-priority-two::after, .job-priority-three::after{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% + 5px);
    z-index: -1;
    padding-right: 5px;

}

.job-priority-data{
    height: 100%;
    width: 100%;
    padding: 10px;
    text-overflow: ellipsis;
    background: white;
    box-sizing: border-box;
}

.job-priority-data #job-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.job-priority-three::after{
    background: rgb(255, 0, 8);
    background: linear-gradient(45deg, rgb(187, 53, 120) 15%, rgb(255, 0, 8) 65%, rgb(194, 36, 42) 100%);
    animation: animatedgradient 8s ease alternate infinite;
    background-size: 500% 500%;
}



.job-priority-two::after{
    background: rgb(202, 53, 175);
    background: linear-gradient(90deg, rgb(235, 114, 225) 25%,  rgb(202, 53, 175) 65%, rgb(132, 34, 189) 100%);
    animation: animatedgradient 8s ease alternate infinite;
    background-size: 500% 500%;
}

.job-priority-one::after{
    background: rgb(0, 185, 255);
    background: linear-gradient(90deg,rgb(159, 229, 255) 25%, rgb(0, 185, 255) 65%, rgb(119, 61, 212) 100%); 
    animation: animatedgradient 8s ease alternate infinite;
    background-size: 500% 500%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.white{
    background: white;
}

.job-priority-container{
    height: calc(100vh - 130px );
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-bottom: 15px;
    z-index: 1;
}

.user-tabs-container{
    height: calc(100%);
    scroll-behavior: smooth;
}


.tabs{
    display: flex;
    height: 35px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tabs > input[type='radio']:checked + label{
    border-bottom: 2px solid #afafaf;
    cursor: pointer;
}

.tabs > * {
    cursor: pointer;    
}

.tab label::after{
    transition: all 0.4s;
    cursor: pointer;
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    color: rgb(27 ,31, 29);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#selectedShowTab{
    border-bottom: 2px solid #afafaf;
}

.tab::after{
    transition: all 0.4s;
    cursor: pointer;
}

.tab:focus {
    border-bottom: 10px solid rgb(190,189,186);
    cursor: pointer;
}



#selected-tab{
    border-bottom: 2px solid #afafaf;
    transition: border 500ms ease-out;
}


.profile-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: calc(100%);
    overflow-y: none;
}

.profile-content::-webkit-scrollbar {
    display: none;
    overflow-y: auto;
    scroll-behavior: smooth;
}


.user-follow-index {
    height: 100vh;
    width: 600px;
    margin: auto;
    opacity: 90%;
}

.user-posts-index {
    height: 98%;
    max-width: 60%;
    min-width: 375px;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.user-posts-index-item {
    border-bottom: 1px solid rgb(190,189,186);
    padding: 5px 3px 10px;
    margin: 0px 5px 15px 5px;
    min-width: 325px;
}


.prog-bar-container{
    content: '';
    position: relative;
    max-width: 50%;
    min-width: 250px;
    height: 25px;
    border: solid 2px rgb(27, 31, 29);
    color: rgb(27, 31, 29);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: white;
    padding-right: 5px;
}

.prog-bar-container::after{
    content: '';
    position: absolute;
    height: 18px;
    width: 97%;
    border-radius: 10px 10px 10px 10px;
    background: rgb(0,185,255);
    clip: rect(0, 42%, 42%, 0% );
    background: linear-gradient(90deg, rgb(0, 185, 255) 0%, #ff0008 100%);

}

.prog{
    content: '';
    position: absolute;
    height: 18px;
    width: 0%;
    background: white;
    z-index: 2;

}



#two-prog{
    width: 85%;
    transition: all 0.2s ease-out;
}

#three-prog{
    width: 70%;
    transition: all 0.2s ease-out;
}


#four-prog{
    width: 56%;
    transition: all 0.2s ease-out;
}


#five-prog{
    width: 42%;
    transition: all 0.2s ease-out;
}


#six-prog{
    width: 28%;
    transition: all 0.2s ease-out;
}

#seven-prog{
    width: 14%;
    transition: all 0.2s ease-out;
    
}
#eight-prog{
    width: 0%;
    transition: all 0.2s ease-out;
    
}


#job-title{
    font-size: 18px;
    text-align: left;
    color: rgba(27, 31, 29)
}

#job-company {
    font-size: 14px;
    color: rgb(27,31,29);
    margin-bottom: 15px;
    margin-top: 5px;
    text-decoration: underline;
}

#job-salary {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
    color: rgb(15, 155, 15);
}

#job-status {
    font-size: 20px;
    color: rgba(27, 31, 29);
    margin-bottom: 5px;
}