.user-menu{
    height: 100%;
    padding: 0px 15px 15px 15px;
}

.user-header{
    height: 60px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s ease-out;
    color:  #D4D4D4;
    /* border-bottom: 10px solid rgb(27,31,29); */
}

.menu-header{
    color: rgb(27 ,31, 29);
    padding-bottom: 5px;
}

ul.user-menu-items li{
    display: inline;
}