.users-index {
    float: right;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    height: 100%;
}

.users-label{
    margin-top: 45px;
    background: powderblue;
    height: 50px;
    width: 50px;
    padding-top: 20px;
    text-align: center;
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
}

.spacer{
    width: 5px;
    overflow-y: auto;
    background: rgb(27,31,29);
}

.users-index-item-container{
    float: right;
    /* height: 75vh; */
    height: 100%;
    width: 400px;
    overflow-y: auto;

}

.user-show-container .users-index-item-container{
    float: right;
    height: 70vh;
    width: 600px;
    overflow-y: auto;
    background: rgb(27, 31, 29);

}

.shrink{
    display: none;
}

.users-index-item {
    height: 60px;
    width: 90%;
    border-radius: 15px 0px 15px 0px;
    background: white;
    margin-bottom: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s ease-out;
}

.users-index-item:hover {
    box-shadow: 2px 2px 2px 2px rgba(192, 192, 192, 0.25);
    transform: scale(1.03);
}

.username {
    color: rgb(27, 31, 29) ;
    padding-top: auto;
    padding-bottom: auto;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    height: 1.25em;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    overflow:hidden;
    text-overflow: ellipsis;
    top: 25%;
    bottom: 25%;
    padding-left: 5%;
    vertical-align: bottom;
}

.username-link {
    text-decoration: none;
    color: black;
}

.username-container {
    height: 100%;
    width: 65%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

.follow-button {
    border: 1px dashed rgba(138, 138, 138, 0.274);
    border-radius: 15px 0px 15px 0px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    right: 20px;
    height: 50%;
    width: 25%;
    cursor: pointer;
    margin: 5px;
    top: 3px;
}

.follow-button:focus {
    outline-style: none;
}

#following {
    color:  rgb(255, 255, 255);
    background-color: rgb(27 ,31, 29);
    top: 10%;
}

#follow {
    background: #e6e6e6;
    color: rgb(85, 85, 85);
    top: 10%;
}
