.index-container{
    height: 100%;
    /* overflow-y: auto; */
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    /* background:rgba(212, 212, 212); */
    /* z-index:3px; */
    /* margin: 20px; */
    /* height: auto; */
}

.jobs-grid{
    margin: auto;
    height: 75vh;
    /* display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, 225px); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0px 30px 0px;
    overflow-y: auto;
}

.job{
    position: relative;
    width: 200px;
    height: 350px;
    margin: 15px;
    /* background:rgba(235, 235, 235, 0.527); */
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(184, 184, 184);
    overflow-wrap: break-word;
    padding: 10px 8px 10px 15px;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
}

.job:before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}




.job:hover {
    /* animation: shake 0.25s; */
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(27, 31, 29, 0.15);
    -moz-box-shadow: 0px 0px 3px 2px rgb(27, 31, 29, 0.15);
    box-shadow: 0px 0px 3px 2px rgb(27, 31, 29, 0.15);
    /* height: 100%; */
    border-radius: 15px;
}

#edit-button {
    background-color: white;
}
.post-edit {
    width: 100%;
    background-color: white;
    /* display: flex; */
    /* flex-direction: column; */
}

#notes-label{
    background:white;
}

.radio-toolbar{
    border-left: 2px solid rgb(27, 31, 29)
}

.radio-toolbar input[type="radio"] {
    display: none;  
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: #bbb;
}

#notes{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    /* background: red; */
    border-bottom: 2px solid rgb(27, 31, 29)
}

#notes-field{
    border-bottom: 1px solid rgb(27, 31, 29);
    width: 425px;
    height: 20px;
};

#drop-down{
    height: 500px;
    width: 500px;
}

#job-title{
    font-size: 22px;
    text-align: left;
    color: rgb(32, 32, 32) 
    /* color: red; */
}

#company{
    margin: 5px 0px;
    font-size:13px;
    text-decoration: underline;
    color: rgb(32, 32, 32) 
}

#salary{
    font-size:18px;
    width: 95%;
    font-weight: bold;
    text-align: right;
    color: rgb(32, 32, 32);
    /* background: darkmagenta; */
    /* position: absolute; */
    position:absolute;
    bottom:0;
    right:0;
    /* margin-right: 10px; */
    margin-bottom: 15px;
    margin-right: 10px;
    text-overflow: ellipsis;
   
}

.post-show{
    background: rgb(212, 212, 212);
    height: 100%;
    width: 550px;
    color: rgb(32, 32, 32);
    padding: 20px 35px 20px 35px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 73px -14px rgba(5,1,23,0.55);
    -moz-box-shadow: 0px 0px 73px -14px rgba(5,1,23,0.55);
    box-shadow: 0px 0px 73px -14px rgba(5,1,23,0.55);
    border-radius: 50px 0px 50px 0px;
    border: 10px solid rgb(27, 31, 29);
}
.description-container{
    height: 40%;
    overflow-y: auto;  
}

#show-title{
    font-size: 30px;
    margin-bottom: 5px;
    color: rgb(32, 32, 32)
}

#show-company{
    text-decoration: underline;
    margin-bottom: 10px;
}

#show-salary{
    font-size:25px;
    font-weight: bold;
    color: rgb(32, 32, 32);
    margin-bottom: 40px;

}

#save-change-button{
    color: white;
    /* background-color: #7badee; */
    background-color: #242424;
    padding: 15px auto 15px;
    height: 35px;
    width: 210px;

}

#delete-job-button{
    color: white;
    /* background-color: #7badee; */
    background-color: #757575;
    padding: 15px auto 15px;
    height: 35px;
    width: 210px;
}