.index-container, .search-result-container{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 122px);
    width: 100%;
    align-content: center;
    box-shadow: inset 0 1px 10px 0 rgba(0, 0, 0, .1); 

}

.jobs-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 0px 40px 0px;
    overflow-y: auto;
    width: 100%;
}

.newPost-edit form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.radio-toolbar > div {
    margin: 5px;
}


.job{
    position: relative;
    width: 200px;
    height: 350px;
    margin: 15px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(184, 184, 184);
    overflow-wrap: break-word;
    padding: 10px 8px 10px 15px;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    cursor: pointer;

}


.job:before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.502);
    filter: blur(10px);
    margin: -20px;
}

.job:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(27, 31, 29, 0.15);
    -moz-box-shadow: 0px 0px 3px 2px rgb(27, 31, 29, 0.15);
    box-shadow: 0px 0px 3px 2px rgb(27, 31, 29, 0.15);
    border-radius: 15px;
}

.post-upper-info-container{
    display: flex;
    flex-direction: column;
}

.upper-image-and-title{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.card-header{
    display: flex;
    flex-direction: row;
}

.card-job-title{
    margin-left: 5px;
}

.upper-image-and-title img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 0px 7px;
}


#edit-button {
    background-color: white;
}
.post-edit {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    font-size: 21px;
}

.post-edit div{
    margin-top: 5px;
    gap: 10px;
}

#notes-label{
    background:white;
}

.notes{
    display: flex;
    flex-direction: column;
}

.radio-toolbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radio-toolbar textarea{
    resize: none;
    overflow-y: auto;
    height: 50px;
    width: 445px;
    border: 2px solid rgba(27, 31, 29, 0.452);
    margin-bottom: 10px;
    padding: 5px;
}

.radio-container{
    font-size: 24px;
    color: rgb(27, 31, 29);
}

input[type='radio']{
    display: none;
}

.radio-container label{
    position: relative;
    cursor: pointer;
    padding-right: 32px;
}

.label-header{
    padding-top: 10px;
}

.radio-container label:nth-last-child(1){
    padding-right: 0px;
}

.radio-container label::before{
    content: '';
    border: 2px solid rgb(27, 31,29);
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: -8px 10px;
    margin-left: 0px;
    border-radius: 50%;
}

.radio-container label::after{
    content:'';
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: rgba(27, 31, 29, 0);
    left: 5px;
    top: -2px;
    border-radius: 50%;
    transition: all 0.4s;
}

.radio-container input[type='radio']:checked + label::after{
    background: rgb(27, 31, 29);
    transition: all 0.4s;
    border-bottom: 2px solid #afafaf;

}


.priority-picker{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.switch input[type='radio']:checked + label{
    color: white;
}

.switch label{
    z-index: 3;
    transition: color 500ms ease-out;
    cursor: pointer;
}

.switch label:hover{
    color: white;
    transition: color 500ms ease-out;
}

.switch{
    content: '';
    position: relative;
    width: 50%;
    height: 25px;
    border: solid 2px rgb(27, 31, 29);
    color: rgb(27, 31, 29);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: white;
}

.switch::after{
    content: '';
    position: absolute;
    content:'';
    position: absolute;
    width: 97%;
    height: 18px;
    border-radius: 10px 10px 10px 10px;
    background: rgb(0,185,255);
    background: linear-gradient(90deg, rgb(0, 185, 255) 0%, #ff0008 100%);
    transition: all 0.4s;
}

.select {
    position: relative;
    display: inline-block;
    width: 50%;
}    .select select {

        display: inline-block;
        width: 100%;
        height: 25px;
        cursor: pointer;
        padding: 0px 15px;
        outline: 0;
        border: solid 2px rgb(27, 31, 29);
        border-radius: 25px;
        background: #ffffff;
        color: #1b1f1d;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #1b1f1d;
            background: #b8b8b8;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }

.select_arrow {
    position: absolute;
    top: 25%;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #1b1f1d;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #1b1f1d;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #b8b8b8;
}

#notes{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #1b1f1d
}

#notes-field{
    width: 425px;
    height: 20px;
};

#drop-down{
    height: 500px;
    width: 50%;
}

#job-title{
    font-size: 22px;
    text-align: left;
    color: rgb(32, 32, 32);
    font-weight: bold;
    line-height: 24px;
}

#company, #location{
    margin: 5px 0px;
    font-size:13px;
    text-decoration: underline;
    color: rgb(32, 32, 32) 
}

#salary, #priority-salary{
    font-size:18px;
    width: 95%;
    font-weight: bold;
    text-align: right;
    color: rgb(32, 32, 32);
    text-overflow: ellipsis; 
}

#salary{
    margin-bottom: 15px;
    margin-right: 10px;
    position:absolute;
    bottom:0;
    right:0;
}

.post-show{
    background: white;
    height: 100%;
    overflow-y: auto;
    width: 550px;
    color: rgb(27, 31, 29);
    padding: 15px 35px 10px 35px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 73px -14px rgba(5,1,23,0.55);
    -moz-box-shadow: 0px 0px 73px -14px rgba(5,1,23,0.55);
    box-shadow: 0px 0px 73px -14px rgba(5,1,23,0.55);
    border-radius: 50px 0px 50px 0px;
    border: 10px solid rgb(27, 31, 29);
}

.description-container{
    height: 40%;
    overflow-y: auto;  
    font-size: 18px;
}

#show-title{
    font-size: 30px;
    margin-bottom: 5px;
    color: rgb(32, 32, 32)
}

#show-company{
    text-decoration: underline;
    margin-bottom: 10px;
}

#show-salary{
    font-size:25px;
    font-weight: bold;
    color: rgb(32, 32, 32);
    margin-bottom: 40px;
}

#save-change-button{
    color: white;
    background-color: #242424;
    padding: 15px auto 15px;
    height: 35px;
    width: 50%;
    cursor: pointer;
}



#delete-job-button{
    color: white;
    background-color: #757575;
    padding: 15px auto 15px;
    height: 35px;
    width: 50%;
    cursor: pointer;
}

.privacy{
    margin-top: -5px;
}



.prog-bar-priority-container{
    content: '';
    position: relative;
    max-width: 50%;
    width: 75px;
    height: 7px;
    border: solid 2px rgb(27, 31, 29);
    color: rgb(27, 31, 29);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: white;
    padding-right: 1px;
}




.prog-bar-priority-container::after{
    content: '';
    position: absolute;
    height: 5px;
    width: 97%;
    border-radius: 10px 10px 10px 10px;
    background: rgb(0,185,255);
    clip: rect(0, 42%, 42%, 0% );
    background: linear-gradient(90deg, rgb(0, 185, 255) 0%, #ff0008 100%);

}

.prog-priority{
    content: '';
    position: absolute;
    height: 5px;
    width: 0%;
    background: white;
    z-index: 2;
}