
#search-bars{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
} 

.search-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
    /* align-items: center; */

    /* margin: auto; */
}


#search-bar-container, 
#company-search-container{
    margin: 0px 8px 8px 8px;
    /* border-bottom: 2px solid rgb(27, 31, 29); */
    border-bottom: 2px solid rgb(184, 184, 184);

}


#search{
    height: 35px;
    min-width: 265px;
    background: none;

}
#company-search{
    height: 35px;
    min-width: 350px;
}

#search-crit{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#search-crit > div {
}

.material-icons{
    height: 35px;
}

/* #search-button{ 
    height: 35px;
    width: 100%;
    background: #9fe5ff;
    box-sizing: border-box;
    padding: 6px 0px 5px 0px;
    
}
*/

.selects{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    justify-content: center;
    width: 100%;

}

.search-inputs-div{
    display: flex;
    flex-direction: column;
}


.search-result-card{
    position: relative;
    width: 100%;
    height: 85px;
    padding-top: 10px;
    /* margin-top: 10px; */
    /* margin: 15px; */
    /* border-radius: 15px; */
    border-bottom: 1px solid rgb(184, 184, 184);
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: rgb(184, 184, 184); */
    overflow-wrap: break-word;
    /* padding: 10px 8px 10px 15px; */
    box-sizing: border-box;
    transition: all 0.2s ease-out;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
}

.search-result-card:before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.502);
    filter: blur(10px);
    margin: -20px;
}

.search-result-card:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(27, 31, 29, 0.15);
    -moz-box-shadow: 0px 0px 3px 2px rgb(27, 31, 29, 0.15);
    box-shadow: 0px 0px 3px 2px rgb(27, 31, 29, 0.15);
    border-radius: 15px;
}

.search-input-div input{
    border-bottom: 2px solid mintcream;
    color:  rgba(27, 31, 29, 0.7);
    max-width: 100%;
    font-size: 19px;
    padding-left: 9px;
    margin: 0px 0px;
}

.search-input-div placeholder{
    color:  rgb(27, 31, 29, 0.7);
}

.search-input-div input:focus{
    border: 2px solid none;
}

.search-input-div button{
    font-size: 19px;
    padding-left: 9px;
    border-left: none;
    text-align: center;
}



.search-dropdown-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
}

.search-dropdown-div select{
    background-color: mintcream;
    color: rgb(32, 32, 32);
    /* font-size: 16px; */
    /* font-weight: 600; */
    padding-left: 10px;
    margin: 0px 14px;
    border-radius: 8px 0px 8px 0px;
}

.search-dropdown-div select:hover{
    background-color: #9fe5ff;
}

