
#search-bars{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
} 

.search-form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    margin: auto;
}


#search-bar-container, 
#company-search-container{
    margin: 8px 8px 8px 8px;
    /* border-bottom: 2px solid rgb(27, 31, 29); */
    border-bottom: 2px solid rgb(184, 184, 184);

}


#search{
    height: 35px;
    min-width: 265px;
    background: none;

}
#company-search{
    height: 35px;
    min-width: 350px;
}

#search-crit{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#search-crit > div {
}

.material-icons{
    height: 35px;
}

/* #search-button{ 
    height: 35px;
    width: 100%;
    background: #9fe5ff;
    box-sizing: border-box;
    padding: 6px 0px 5px 0px;
    
}
*/

.selects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}

.search-inputs-div{
    display: flex;
    flex-direction: column;
}


.search-input-div input{
    border-bottom: 2px solid mintcream;
    color:  rgba(27, 31, 29, 0.7);
    max-width: 100%;
    font-size: 19px;
    padding-left: 9px;
    margin: 0px 0px;
}

.search-input-div placeholder{
    color:  rgb(27, 31, 29, 0.7);
}

.search-input-div input:focus{
    border: 2px solid none;
}

.search-input-div button{
    font-size: 19px;
    padding-left: 9px;
    border-left: none;
    text-align: center;
}



.search-dropdown-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
}

.search-dropdown-div select{
    background-color: mintcream;
    color: rgb(32, 32, 32);
    /* font-size: 16px; */
    /* font-weight: 600; */
    padding-left: 10px;
    margin: 0px 14px;
    border-radius: 8px 0px 8px 0px;
}

.search-dropdown-div select:hover{
    background-color: #9fe5ff;
}

